<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/create-user}" th:object="${user}" method="post" >
    <input type="hidden" name="id" th:field="${user.id}">
    <label for="firstName">FirstName</label>
    <input type="text" name="firstName" id="firstName">
    <label for="lastName">LastName</label>
    <input type="text" name="lastName" id="lastName">
    <label for="age">Age</label>
    <input type="text" name="age" id="age">
    <input type="submit" value="Add user">
</form>
</body>
</html>